.contact-grid{
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding: 35px 20px 40px;
}
.contact-footer-left img {
    margin-right: 20px;
}
.contact-footer-left span {
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    padding: 0 10px;
}
.contact-footer-right .footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright-box p {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.row.contact-footer {
    padding: 60px 0 30px;
}
.row.copyright-box {
    padding-bottom: 50px;
}
.contact-footer-right a {
    margin: 0 15px;
}


.contact-footer .active a {
    color: #131313;
}

