body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif !important;
}

.quotation-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quotation-tabs {
  background: #fff;
  border-radius: 0.66rem;
  padding: 20px;
}

.quotation-heading h3 {
  display: flex;
  align-items: center;
  font-size: 23px;
  font-weight: 700;
  color: #1d1d1f;
}

.quotation-heading .playcircle-icon {
  background: #fd3995;
  width: 20px;
  height: 20px;
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 5px;
}

.quotation-heading .playcircle-icon svg {
  color: #fff;
  width: 12px;
  position: relative;
  right: -1px;
}

.settings-create-btns {
  display: flex;
  align-items: center;
}

.settings-create-btns button.document-btn {
  font-size: 13px;
  font-weight: 700;
  border: none;
  padding: 0 15px;
  background: none;
  margin-right: 0.5rem;
}

.settings-create-btns button.document-btn .settings-icon {
  margin-right: 5px;
}

.settings-create-btns button.document-btn .settings-icon svg {
  width: 20px;
}

.settings-create-btns button.create-btn {
  border: none;
  height: 32px;
  padding: 4.5px 15px;
  border-radius: 6px;
}

.settings-create-btns button.create-btn .plus-icon {
  margin-right: 5px;
}

.settings-create-btns button.create-btn .plus-icon svg {
  width: 20px;
}

.quotation-tabs ul.nav.nav-tabs {
  border-bottom: solid 1px #f0f0f0;
}

.quotation-tabs .nav-tabs .nav-link {
  font-size: 13px;
}

.quotation-tabs .nav-tabs .nav-link.active {
  font-size: 14.58px;
  font-weight: 600;
}

.quotation-tabs .nav-tabs .nav-link:after {
  height: 2px;
  background: #7367f0 !important;
}

.tabs-search-calendar {
  display: flex;
  align-items: self-start;
  padding-bottom: 20px;
}

.tabs-search-calendar .tabs-search {
  position: relative;
}

.tabs-search-calendar .tabs-search input {
  border-radius: 0.357rem 0 0 0.357rem;
  width: 100%;
  height: 30px;
  font-size: 13px;
  padding-left: 35px;
}

.tabs-search-calendar .tabs-search .search-icon {
  position: absolute;
  left: 10px;
  top: 2px;
}

.tabs-search-calendar .tabs-search .search-icon svg {
  width: 16px;
}

.tabs-calendar {
  display: flex;
  align-items: center;
  border: 1px solid #d8d6de;
  height: 30px;
  border-left: none;
  border-radius: 0 0.357rem 0.357rem 0;
}

.tabs-search-calendar .tabs-calendar input {
  height: 28px;
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.tabs-calendar .picker-range-separato svg {
  width: 13px;
}

.tabs-calendar .end-date {
  position: relative;
}

.tabs-calendar .end-date .calendar {
  position: absolute;
  right: 22px;
  top: 2px;
}

.tabs-calendar .end-date .calendar svg {
  width: 14px;
}

.quotation-tabs table.table tr th {
  text-transform: capitalize;
}

.quotation-tabs table.table tr th.bill .dropdown,
.quotation-tabs table.table tr th.updated-time .dropdown {
  float: left;
}

.quotation-tabs table.table tr th.bill .dropdown button,
.quotation-tabs table.table tr th.updated-time .dropdown button {
  padding: 0;
  box-shadow: none;
  border: none;
  background: transparent;
  margin-right: 5px;
}

.table-filter-dropdown {
  padding: 0 10px;
}

.table-filter-dropdown .dropdown-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 0;
}

.table-filter-dropdown .dropdown-input input.form-check-input {
  width: 15px;
  height: 15px;
  margin: 0 7px 0 0;
}

.table-filter-dropdown .dropdown-input label.label {
  font-size: 11px;
  font-weight: 600;
  color: #111;
}

.table-filter-dropdown .reset-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #d8d6de;
  margin: 12px -10px 0;
  padding: 7px 10px 0;
  font-size: 12px;
  font-weight: 600;
}

.table-filter-dropdown .reset-text a.ok-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 5px;
  border: none;
  background-color: #7367f0;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  border-radius: 6px;
}

.table-filter-dropdown .reset-text a.reset-btn {
  color: #4c4c50;
}

.dropdown-to-dropdown {
  padding-left: 15px;
  padding-top: 5px;
}

.dropdown-select-all-items {
  display: flex;
  align-items: center;
}

.pagination-section {
  display: flex;
  align-items: center;
  justify-content: end;
}

/* document-settings */
.modal-slide-in .modal-dialog.sidebar-lg {
  width: 50% !important;
}

.modal .modal-header svg.cursor-pointer {
  order: 1;
}

.modal-header .modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  order: 2;
  padding-left: 7px;
}

.modal-header .modal-title h5.modal-title {
  order: 1;
}

.modal-header .modal-title h5.modal-title span.align-middle {
  font-size: 18px;
  font-weight: 600;
  color: #111;
}

.modal-header .modal-title .update-setting-btn {
  font-size: 13px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  min-width: 132px;
  padding: 5px 0;
  cursor: pointer;
  order: 2;
}

.modal .modal-header {
  display: flex;
  background-color: #fff;
  margin-bottom: 0 !important;
}

.modal .scrollbar-container {
  background-color: #f5f5f7;
}

.invoice-form-top {
  padding: 10px 0 20px 0;
}

.invoice-template-btn {
  border: solid 1px #7367f0;
  border-radius: 6px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 15px;
  cursor: pointer;
}

.invoice-template-btn .heart-icon svg {
  width: 15px;
  margin-right: 7px;
  animation: pulse 1s ease infinite;
}

.document-prefixes .first-prefix-row {
  padding: 5px 0;
}

.document-prefixes .first-prefix-row .form-label {
  font-size: 13px;
  font-weight: 500;
  color: #000;
  margin: 0 0 5px;
}

.document-prefixes .first-prefix-row .example-prefix {
  font-size: 12px;
  display: block;
  padding-top: 2px;
}

.document-prefixes .first-prefix-row input {
  font-size: 12px;
}

.document-setting-text .additional-text {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  display: block;
  padding-bottom: 10px;
}

.document-setting-text form {
  padding: 10px 20px;
  margin-bottom: 0;
}

form.additional-form .first-prefix-row {
  padding: 5px 0;
}

.additional-form label.form-label {
  font-size: 13px;
  font-weight: 500;
  color: #000;
}

.additional-form .extra-information {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 10px;
}

.document-setting-text.export-invoice {
  padding-bottom: 30px;
}

.update-close-btns {
  background: #f8f8f8;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  padding-left: 15px;
}

.update-close-btns button span {
  margin-left: 0 !important;
}

.list-action-btns {
  display: flex;
  align-items: center;
  justify-content: end;
}

.list-action-btns .view-btn button.icon-btn {
  display: flex;
  align-items: center;
  border: none;
  padding: 5px 8px;
  background: #978ef4;
  font-size: 10px;
  color: #fff;
  letter-spacing: 0.5;
}

.list-action-btns .view-btn button.icon-btn svg {
  margin-right: 4px;
}

.list-action-btns .send-btn button.icon-btn {
  display: flex;
  align-items: center;
  border: none;
  padding: 5px 8px;
  background: #e5f8ed;
  font-size: 10px;
  color: #111;
  letter-spacing: 0.5;
  margin: 0 5px;
}

.list-action-btns .send-btn button.icon-btn svg {
  margin-right: 4px;
}

.list-action-btns .toggle-noarrow button.icon-btn {
  border: solid 1px #e5f8ed;
  padding: 2px 3px;
}

.list-action-btns .toggle-noarrow .dropdown-menu {
  width: 250px;
  transform: translate(-220px, 21px) !important;
  inset: 8px auto auto 0px !important;
}

/* 09-05-23 */
.purchase-tab {
  border-bottom: 1px solid #ccc;
}

.card-box {
  padding: 10px;
  margin: 0;
}

.search-group {
  display: flex;
  align-items: center;
}

.play-icon {
  background: #fd3995;
  width: 20px;
  height: 20px;
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 5px;
  position: absolute;
}

.play-icon svg {
  color: #fff;
  width: 12px;
  position: relative;
  right: -1px;
}

.purchase-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.document-button {
  background: transparent;
  border: none;
  color: #6e6e73;
  font-weight: 700;
  margin-right: 1px;
}

.document-button svg {
  margin-right: 1px;
  height: 15px;
  margin-bottom: 1px;
}

.create-purchase-header {
  font-weight: 500;
  color: #1d1d1f;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.modal-slide-in .modal-dialog.sidebar-lg {
  width: 50% !important;
}

.example-prefix {
  font-size: 11px;
  color: #86868b;
}

.additional-text {
  margin-top: 20px;
  color: #6e6e73;
  font-weight: 600;
  padding-left: 5px;
}

.extra-information {
  font-size: 11px;
  color: #86868b;
  padding-top: 10px;
}

.invoice-template-button {
  font-size: 14px;
  height: 40px;
  padding: 10px;
  font-weight: 600;
  border-radius: 10px;
  display: inline;
  background-color: transparent;
  border: 1px solid #7827ff;
}

.heart svg {
  margin-right: 5px;
  height: 20px;
}

/* .input-group-merge {
  width: 35% !important;
} */

.input-group-merge Input {
  padding: 1px;
}

.pinv-text {
  display: flex;
  align-items: center;
  border: solid 1px #ccc;
  border-radius: 6px;
  height: 30px;
  text-align: right;
  width: 255px;
}

.pinv-text span:first-child {
  border-right: solid 1px #ccc;
}

.pinv-text span {
  width: 50%;
}

.pinv-text span input {
  height: 28px;
  border: none;
  box-shadow: none !important;
  outline: none;
  width: 100%;
  font-size: 13px;
}

.gst-checkbox {
  margin-top: 35px;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
}

.purchase-card-box {
  padding: 10px;
  margin: 0;
  background-color: #eef6ff;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  height: auto;
}

textarea.ant-input.css-dev-only-do-not-override-yp8pcc.reference-textarea {
  height: 19px;
  max-width: 100%;
  min-height: 32px;
  border-radius: 5px;
}

.vendor-text {
  width: 50%;
  padding: 0 5px;
}

.vendor-text .ant-picker {
  width: 100%;
}

.vendor-label {
  display: block;
  font-size: 15px;
  color: #1d1d1f;
  font-weight: 500;
}

.question-icon {
  margin-left: 5px;
}

.question-icon svg {
  color: #86868b;
}

.add-vendor {
  background: #f0f3ff;
  border: none;
  color: #1d1d1f;
  margin-left: 15px;
  font-size: 10px;
  font-weight: 600;
  display: inline;
  border-radius: 6px;
}

.add-vendor:hover {
  background-color: #dee4ff;
}

.supplier-date {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.show-checkbox {
  margin-top: 15px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discount-dropdown {
  background: rgb(229, 229, 234);
  height: 24px;
  padding: 0px 7px;
  border-radius: 6px;
  margin-left: 5px;
  font-weight: 400;
  color: #1d1d1f;
}

.beta-tooltip {
  background: transparent;
  color: #2754ff;
  font-weight: 700;
  font-size: 8px;
  letter-spacing: 1px;
  font-style: italic;
  margin-left: 7px;
}

.search-product {
  width: 500px;
  height: 32px;
  font-weight: 500;
  border-radius: 5px 0 0 5px;
  border-right: 1px;
  display: flex;
}

.category-background {
  background: rgba(29, 29, 31, 0.02) !important;
}

.bill-button {
  border: none;
  font-weight: 700;
  font-size: 13px;
  height: 32px;
  border-radius: 6px;
  margin-top: 24px;
  padding-left: 10px;
  padding-top: 9px;
}

.product-card-box {
  padding: 10px;
  margin: 0;
  background-color: #eef6ff;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  height: auto;
}

.product-table-head {
  text-transform: capitalize !important;
  background: #fafafb !important;
  font-weight: 600 !important;
}

.product-table-body {
  background: #ffffff;
  font-size: 12px;
  font-weight: 600;
}

.product-delete {
  height: 24px !important;
  padding: 0 7px;
  border-radius: 6px;
  background: #fed7d2 !important;
  border: 2px solid #fed7d2 !important;
  color: #1d1d1f !important;
  text-shadow: none !important;
}

.table-footer {
  border-radius: 0 0 8px 8px;
  padding: 16px 16px;
  color: #1d1d1f;
  background: #fafafb;
}

.discount-font {
  display: flex;
  font-size: 12px;
  margin-left: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
  color: #1d1d1f;
  font-weight: 500;
}

.additional-charges {
  border: 1.35px solid #5b27ff !important;
  color: #1d1d1f !important;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-right: 8px;
  float: right;
  font-size: 13px;
  height: 32px;
  padding: 7.5px 10px;
  border-radius: 6px;
  background-color: transparent;
}

.additional-charges svg {
  margin-right: 3px;
  margin-bottom: 3px;
  height: 16px;
}

.table-expand {
  width: 1008px;
  position: sticky;
  left: 0px;
  margin: -16px -16px;
  padding: 16px 16px;
  overflow: hidden;
}

.empty-image {
  height: 115px;
  margin-bottom: 8px;
}

.button-action {
  margin-right: 8px;
  font-size: 13px;
  height: 32px;
  padding: 4.5px 15px;
  border-radius: 6px;
  border: 1px solid transparent;
}

.notes-row {
  margin-bottom: 8px;
  margin-top: 20px;
  padding-left: 4px;
}

.notes-select {
  width: 290px;
  font-size: 13px;
  padding: 0 7px;
}

.ant-collapse-header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 45px;
}

.notes-icon svg {
  color: #86868b !important;
  margin-left: 4px;
  font-weight: 900;
  display: flex;
}

.total-card {
  box-shadow: none;
  background-color: #eef7f2;
  border-radius: 10px;
  margin-bottom: 24px;
}

.total-card-body {
  padding: 19px 22px;
}

.total-row {
  margin-bottom: 8px;
  margin-top: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.extra-font {
  color: #6e6e73 !important;
  font-size: 12px;
  margin-bottom: 0px;
  font-weight: 500;
  padding-bottom: 5px;
}

.amount-text {
  color: #1d1d1f;
  font-size: 21px;
  font-weight: 700;
}

.attach-file-icon {
  font-size: 14px;
  height: 40px;
  padding: 7.692307692307692px 15px;
  border-radius: 8px;
  background-color: #ffffff;
  border-color: #e8e8ed;
  border-style: dashed;
}

.bank-card {
  box-shadow: none;
  background-color: #f7f5ff;
  border-radius: 10px;
  margin-bottom: 24px;
}

.bank-card-body {
  padding: 19px 22px;
  border-radius: 0 0 8px 8px;
}

.bank-column {
  padding-left: 3px;
  padding-right: 3px;
  display: block;
  flex: 0 0 25%;
  max-width: 25%;
}

.signature-button {
  color: rgb(252, 54, 84);
  white-space: normal;
  height: auto;
  width: 100%;
  background-color: #ffffff;
  border-color: #e8e8ed;
  border-style: dashed;
  font-size: 13px;
  padding: 4.5px 15px;
  border-radius: 6px;
  border: 1px solid transparent;
}

.add-notes-button {
  font-size: 14px;
  height: 35px;
  padding: 7.692307692307692px 15px;
  border-radius: 8px;
  background: #f0f3ff !important;
  border: none !important;
  color: #1d1d1f !important;
  font-weight: 700 !important;
}

.pro-button {
  background: #ff5733 !important;
  color: #fff;
  display: inline-block;
  font-weight: 700 !important;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 11px;
  text-transform: uppercase;
  padding: 4px 7px;
  vertical-align: middle;
  font-style: italic !important;
  margin-left: 8px;
  border-radius: 4px;
}

.add-notes-button:hover {
  background: #c8d2f7 !important;
}

.add-terms-button {
  font-size: 12px !important;
  height: 27px !important;
  padding: 0 7px;
  border-radius: 6px;
  border: none;
  font-weight: 700 !important;
}

.save-button {
  font-size: 14px;
  height: 40px;
  padding: 7px 15px;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-weight: 700 !important;
}

.save-print-button {
  font-size: 14px;
  height: 40px;
  padding: 7px 15px;
  border-radius: 8px;
  border: 1.08px solid #d9d9d7 !important;
  color: #6e6e73 !important;
  font-weight: 600 !important;
  margin-right: 16px;
  background-color: transparent;
}

.save-button-border {
  border-radius: 10px;
  margin-bottom: 24px;
  border: 1px solid rgb(240, 240, 240);
  border-color: #6e6e73 !important;
}

.table-head {
  text-transform: capitalize !important;
  padding: 11px !important;
}

.purchase-amount {
  font-weight: 700;
  text-decoration: none;
  color: #1d1d1f !important;
  background-color: transparent;
  font-size: 14px;
}

.purchase-amount svg {
  margin-right: 4px;
  font-size: 12px;
  vertical-align: -1px;
}

.payment-status {
  font-size: 0.8rem !important;
  height: 24px !important;
  padding: 0 7px;
  border-radius: 6px;
  color: #02220d !important;
  background: #cbf4c9 !important;
  border: 2px solid #cbf4c9 !important;
  font-weight: 600;
  margin-right: 4px;
  box-shadow: none;
  margin-bottom: 0px;
}

.payment-mode {
  font-size: 0.8rem !important;
  height: 24px !important;
  padding: 0 7px;
  border-radius: 6px;
  background-color: #e5e6fc !important;
  border: 2px solid #e5e6fc !important;
  color: #05072c !important;
  margin-bottom: 4px;
  margin-top: 4px;
  margin-right: 4px;
}

.view-button {
  font-size: 0.8rem !important;
  height: 24px !important;
  padding: 0 7px;
  border-radius: 6px;
  background: #f2ebff !important;
  border: none !important;
  color: #1d1d1f !important;
  font-weight: 500;
  margin-right: 8px;
}

.view-button:hover {
  box-shadow: 0 0 0 2.7px #dedaf8 !important;
}

.send-button {
  font-size: 0.8rem !important;
  height: 24px !important;
  padding: 0 7px;
  border-radius: 6px;
  background: #e3faec !important;
  border: none !important;
  color: #1d1d1f !important;
  font-weight: 500;
  margin-right: 8px;
}

.send-button:hover {
  box-shadow: 0 0 0 2.7px #e3faec !important;
}

.action-icon {
  font-size: 0.8rem !important;
  height: 24px !important;
  padding: 0 7px;
  border-radius: 6px;
  background-color: #fafafb !important;
  border: none !important;
  color: #1d1d1f !important;
}

.action-icon:hover {
  box-shadow: 0 0 0 2.7px rgb(188, 190, 189) !important;
}

.table-data {
  padding: 11px !important;
}

.purchase-pagination {
  margin-bottom: 8px;
  margin-top: 8px;
  float: right;
  display: inline-flex;
  align-items: center;
}

.total-card {
  border-color: #e8e8ed !important;
  background-color: #f3f9ff !important;
  border-radius: 10px !important;
  border: 1px solid #f0f0f0;
  margin-right: 16px;
}

.total-card-body {
  padding: 5px 12px;
  border-radius: 0 0 8px 8px;
}

.breakdown-color {
  color: #5527ff !important;
  font-size: 12px;
  font-weight: 600;
  margin-top: 8px;
}

.demo {
  display: flex;
}

.show-checkbox-box {
  display: flex;
  align-items: center;
}

.show-checkbox-box .show-checkbox-fild {
  padding-right: 10px;
}

.product-card-box .search-product {
  width: 100%;
}

.search-product .search-existing-products .ant-select-selector {
  border-radius: 6px 0 0 6px;
  border-right: none;
}

.search-product .select-category .ant-select-selector {
  background: #eaf2fb;
  border-radius: 0 6px 6px 0;
}

.table-footer .additional-charges {
  padding: 0 10px;
}

.product-card-box .bill-button.btn.btn-primary svg {
  font-weight: 800;
  margin-right: 3px;
}

.product-table-body .ant-input.css-dev-only-do-not-override-ed5zg0 {
  border-radius: 6px 0 0 6px;
  border-right: none;
}

.pet-text {
  display: flex;
  align-items: center;
  border: solid 1px #d9d9d9;
  padding: 0 10px;
  border-radius: 0 6px 6px 0;
}

.form-check.select-quotation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 10px;
  margin: 0;
}

.form-check.select-quotation .ant-select {
  width: 150px;
}

.settings-box .document-button {
  font-weight: 400;
}

.add-custom-text-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-custom-fields a {
  font-size: 13px;
  color: #000;
  font-weight: 400;
}

.add-custom-fields a {
  display: flex;
  align-items: center;
}

.add-custom-fields .plus-icon {
  background: #86868b;
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 100%;
  margin-right: 5px;
}

.add-custom-fields .plus-icon svg {
  color: #fff;
  width: 15px;
  position: relative;
  top: -4px;
}

.customer-phone {
  display: flex;
  align-items: center;
}

.customer-phone .ant-select.react-select {
  width: 100px;
  margin-right: 12px;
}

.customer-phone .ant-select.react-select .ant-select-selector {
  height: 40px;
}

.customer-phone
  .ant-select.react-select
  .ant-select-selector
  .ant-select-selection-item {
  line-height: 38px;
  font-size: 14px;
  font-weight: 400;
}

.additional-form .fetch-details {
  display: flex;
  align-items: center;
}

.additional-form .fetch-details .form-control {
  border-radius: 6px 0 0 6px;
}

.additional-form .fetch-details .fetch-btn {
  border: none;
  background: #7367f0;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  border-radius: 0 6px 6px 0;
  width: 125px;
  height: 44px;
}

.billing-address-section {
  padding: 20px 0;
}

.billing-address-section .billing-address {
  padding: 20px 0 0;
}

.billing-address-section .billing-address label {
  display: block;
  padding-bottom: 7px;
  font-size: 14px;
  color: #6e6e73;
  font-weight: 500;
}

.billing-address-section .billing-address .billing-btn {
  display: flex;
  align-items: center;
  background: #fff;
  border: none;
  box-shadow: none;
  padding: 10px 35px;
  color: #7367f0;
  border-radius: 6px;
}

.billing-address-section .billing-address .billing-btn .plus-icon {
  background: #7367f0;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 8px;
}

.billing-address-section .billing-address .billing-btn .plus-icon svg {
  color: #fff;
  width: 16px;
}

.billing-address-section .billing-address .billing-btn.shipping {
  color: #fc3654;
}

.billing-address-section .billing-address .billing-btn.shipping .plus-icon {
  background-color: #fc3654;
}

.opening-radio .debit-text {
  display: flex;
  align-items: center;
  padding: 20px 0 15px;
}

.opening-radio .debit-text .debit-radio {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.opening-radio .debit-text .debit-radio .form-check-input {
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.opening-radio .debit-amount {
  position: relative;
}

.debit-amount .debit-amount-text {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 14px;
  font-weight: 400;
  color: red;
}

.debit-amount .debit-amount-text .svg-inline--fa {
  color: red !important;
  position: relative;
  top: 2px;
}

.additional-form .opening-radio label {
  display: block;
  color: #1d1d1f;
  font-size: 14px;
  padding-bottom: 3px;
  font-weight: 500;
}

.opening-radio .debit-text .debit-radio span {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.update-close-btns .arrow-right svg {
  width: 20px;
  margin-left: 5px;
}

.more-details-section .ant-collapse.ant-collapse-icon-position-start {
  border: none;
  border-radius: 0;
}

.more-details-section .ant-collapse-content.ant-collapse-content-active {
  background: transparent;
}

.more-details-section .ant-collapse-item {
  border-bottom: none !important;
}

.more-details-section .ant-collapse-content.ant-collapse-content-active {
  border-top: none;
}

.discount-section .discount-fild label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  padding-bottom: 5px;
}

.more-details-section
  .ant-collapse-content.ant-collapse-content-active
  .ant-collapse-content-box {
  padding-top: 0;
}

.discount-section .discount-fild .ant-select.react-select {
  width: 100%;
}

.discount-section .discount-fild label .new-text {
  background: #2754ff;
  font-size: 10px;
  color: #fff;
  padding: 1px 5px;
  margin-left: 5px;
  border-radius: 3px;
}

.more-details-section .ant-collapse-header-text {
  font-size: 15px;
  font-weight: 600;
}

.more-details-section .tags-text p {
  font-size: 11px;
  margin: 0;
}

.more-details-section .ant-collapse-header {
  height: auto;
}

/* additional-table Css */
.row-additional {
  justify-content: end;
  display: flex;
  flex-wrap: wrap;
}

button.bank-select-dropdown-btn {
  width: 100%;
  background: #f0f3ff;
  border: none;
  font-weight: 700;
  border-radius: 6px;
  padding: 10px 0px;
}

.button.bank-select-dropdown-btn svg {
  margin: 0px 5px !important;
}

.additional-table-content table {
  width: 100%;
}

.additional-table-content .ant-table-thead tr th {
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 600;
  color: #6e6e73;
  text-align: right;
}

.additional-table-content tbody tr {
  background: #fff;
}

.additional-table-content tbody tr td {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  font-size: 0.93rem;
  color: #333;
  padding: 10px 10px;
}

.additional-table-content tbody tr td .form-select {
  float: right;
  width: 150px !important;
  height: 32px;
  font-size: 12px;
}

.additional-table-content tbody tr td .form-control {
  width: 100px;
  height: 32px;
  font-size: 12px;
}

.more-details-section {
  position: sticky !important;
  bottom: 0px !important;
}

.billing_button_container {
  display: flex;
}

.fa-circle-plus-add-bank-btn {
  margin: 0px 5px 0px 0px;
}

/* customer listing css */

.customer_name_phone_amount_div {
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.debit_debit_amount,
.customer_quantity_red {
  color: red;
}

.selling_amount {
  color: #1d1d1f !important;
  font-weight: 700;
}

.customer_name_phone_container {
  display: flex;
  flex-direction: column;
}

.debit_credit_amount,
.customer_quantity_green {
  color: green;
}

.bank-api-list-select .debit_credit_amount,
.bank-api-list-select .selling_amount {
  padding: 10px 0px 0px 0px;
}

.customer_gst_company_tags_div {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
}

.signature-image-div {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 1280px) {
  .row-additional {
    overflow-x: auto;
  }

  .row-additional .col-md-8.additional-table-content {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .product-card-box form {
    flex-wrap: wrap;
  }

  .product-card-box .row .col {
    padding-top: 10px;
  }

  .product-card-box form .bill-button.btn.btn-primary {
    margin-left: -15px;
  }

  .additional-table-content .ant-table-thead tr th {
    font-size: 11px;
  }

  .show-checkbox {
    flex-wrap: wrap;
  }

  .show-checkbox-box {
    flex-wrap: wrap;
    width: 100%;
  }

  .show-checkbox-box .show-checkbox-fild {
    padding: 5px 0;
    width: 100%;
  }

  .product-card-box .search-product .ant-select {
    width: 100%;
  }

  .product-card-box .ant-select {
    width: 100% !important;
  }

  .table-responsive .product-table-body td {
    padding: 20px 10px;
  }

  .product-card-box .search-product {
    width: 285px;
    flex-wrap: wrap;
  }

  .search-product .search-existing-products .ant-select-selector {
    border-radius: 6px;
    border-right: wheat;
    width: 100%;
  }

  .product-card-box .search-product .select-category {
    width: 100%;
  }

  .product-card-box .search-product .search-existing-products {
    width: 100%;
  }

  .search-product .select-category .ant-select-selector {
    border-radius: 6px;
    margin-top: 2px;
  }

  .notes-row.row {
    padding: 0;
  }

  .notes-row.row .ant-collapse-header {
    height: auto;
    flex-wrap: wrap;
  }

  .notes-row.row .notes-select {
    width: 285px;
  }

  .notes-row.row .notes-select .ant-select {
    width: 100% !important;
  }

  .tax-amount-text.col-md-6 {
    width: 50%;
  }
}

@media screen and (max-width: 640px) {
  .quotation-heading h3 {
    font-size: 18px;
  }

  .quotation-top-bar {
    flex-wrap: wrap;
  }

  .settings-create-btns button.document-btn {
    padding-left: 0;
  }

  .settings-create-btns button.document-btn .settings-icon {
    padding-right: 0;
    margin-left: 0;
  }

  .settings-create-btns button.document-btn {
    font-size: 11px;
    display: flex;
    align-items: center;
  }

  .settings-create-btns button.document-btn .settings-icon svg {
    width: 13px;
  }

  .settings-create-btns button.create-btn {
    font-size: 10px;
  }

  .settings-create-btns button.create-btn .plus-icon svg {
    width: 15px;
  }

  .quotation-tabs .nav-tabs .nav-link.active {
    font-size: 12px;
  }

  .quotation-tabs .nav-tabs .nav-link {
    font-size: 12px;
  }

  .create-purchase-header {
    font-size: 13px;
  }
}

@media screen and (max-width: 568px) {
  .modal-slide-in .modal-dialog.sidebar-lg {
    width: 90% !important;
  }

  .modal-header .modal-title h5.modal-title span.align-middle {
    font-size: 14px;
  }

  .document-setting-text form {
    padding: 10px 0;
  }

  .debit-amount .debit-amount-text {
    position: relative;
    right: auto;
  }

  .additional-form .fetch-details .fetch-btn {
    font-size: 11px;
  }

  .document-setting-text .additional-text {
    margin-top: 10px;
  }

  .add-product-form-main-div {
    padding: 15px;
  }

  .opening-quantity-div .hsn-btn {
    font-size: 11.4px;
    line-height: 19px;
  }

  .barcode-category-col-1 .barcode-btn {
    font-size: 11.4px;
    line-height: 19px;
  }

  .ql-toolbar.ql-snow + .ql-container.ql-snow {
    border-top: 0px;
    height: 130px;
  }

  .purchase-price-label-span {
    margin-left: 3px;
    margin-bottom: 0 !important;
  }

  .selling-price-input {
    width: 100% !important;
  }

  .barcode-category-col-1 input {
    width: 100%;
    border-radius: 6px;
    margin: 5px 0;
  }

  .additional-information-col-1 input {
    width: 100%;
    border-radius: 6px;
    margin: 5px 0;
  }
}
