.tworow{
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding: 0 100 0 0;
}
.tworow.top2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 80px;
   }
   .tworow.top2 .firstrow {
    width: 50%;   
    padding: 0 25px 0 0;
    margin: 0;   
   }
   .tworow.top2 .secondrow {
     width: 50%;  
     text-align: right;
      padding: 0 0 0 25px;
      margin: 0;  
   }

.secondrow{
    padding: 70 0 0 50;
    margin: 50px;
}

.heading3{
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
}
.paragraph1{
    font-size: 17px;
    font-weight: 350;
    padding: 10px;
}