.tworow{
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding: 0 100 0 0;
}
.tworow.top2{
    display: flex;
    align-items: center;
}
.tworow.top2 .firstrow{
    padding-left: 33px;
}
.firstrow{
    padding-top: 50px;
    margin-left: -50px;

   
}
.secondrow{
    padding: 70 0 0 50;
    margin: 50px;
}

.heading3{
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
}
.paragraph1{
    font-size: 17px;
    font-weight: 350;
    padding: 10px;
}