.tworow{
    display: grid;
    grid-template-columns: 6fr 6fr;
    
}
.tworow.two3 {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    padding-top: 0px;
    justify-content: space-between;
}
.tworow.two3 .firstrow {
 width: 45%;   
 padding: 0 0 70px 0;
 margin: 0;   
}
.tworow.two3 .firstrow .heading3 {
  font-size: 48px;  
  font-weight: 700; 
  text-transform: capitalize;
  line-height: 48px;
  padding-left: 0;
  margin: 10px 0 12px;
}
.firstrow img {
  max-width: 50%;
  width: 100px;
  height: 4.0rem;
}
.tworow.two3 .firstrow .heading3 span {
  color: #2754ff;
  padding-left: 8px;   
}
.tworow.two3 .firstrow .paragraph1 {
  font-size: 18px;  
  font-weight: 400;
  line-height: 32px; 
  padding: 0    ;
}
.tworow.two3 .secondrow {
  width: 45%;  
   padding: 0;
   margin: 0 50px 0 0;  
}
.firstrow{
    padding: 20px 0 0 100px ;
    margin-top: 70px;
}

.secondrow{
    padding: 70px 0 0 100px ;
}

.heading3{
    font-size: 30px;
    font-weight: 700;
    padding: 5px;
}
.paragraph1{
    font-size: 17px;
    font-weight: 350;
    padding: 5px;
}
.para-tag{
    font-size: 14px;
    padding: 2px;
    background: #06c167;
    width: 35%;
    border: 1px solid #06c167;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;
}
.sign-google-play {
  display: flex;
  align-items: center; 
  padding-top: 5px;   
}
.tworow.two3 .firstrow .MuiStack-root.css-e53awj-MuiStack-root button.MuiButtonBase-root {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 6px;
    border-color: #2754ff;
    color: #fff;
    padding: 8px 23px;  
    background: #2754ff !important;
    box-shadow: none; 
    margin: 0 10px 0 0;
}

#sign-up {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 6px;
  border-color: #2754ff;
  color: #fff;
  padding: 8px 23px;
  background: #2754ff !important;
  box-shadow: none;
  margin: 0 10px 0 0;
}

@media screen and (max-width: 1179px) {  
    .para-tag {
      width: 100%;
      max-width: 200px;
    }
  }

@media screen and (max-width: 1023px) {  

    .tworow.two3 .firstrow {
        width: 100%;
        padding: 0;
        margin: 0;
      }
      .tworow.two3 .secondrow {
        width: 100%;
        padding: 0;
        margin: 30px 0 0 0;
        text-align: center;
      } 
      .tworow.two3 .secondrow img {
        max-width: 500px;
        margin: 0 auto;
    }   

}

@media screen and (max-width: 767px) {  

    .tworow.two3 .firstrow .heading3 {
      font-size: 32px;
      line-height: 32px;   
      margin-bottom: 0;
    } 
    .para-tag {
       width: 100%;
       max-width: 210px;  
    }  
    .tworow.two3 .secondrow img {
        max-width: 100%;
        margin: 0 auto;
    }

}