
.container2 {
    padding: 40px ;
    background: url("./india_1.png")center center no-repeat;
    background-color: #fff; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  
  }
  .resendb {
    font-size: 12px;
    padding-top: 15px;
    color: blue;
}
  
  .center2 {
    border: 2px solid rgb(180, 178, 176);
    border-radius: 2%;
    background-color: #fff;
    padding: 30 30 0 30;
  } 
  
  #img1 {
    padding-left: 0px;
    ;
  }
  
  #para {
   
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
  }
  
  .form4 {
    font-family: cursive;
    font-size: 25px;
  }
  button.btnsubmit {
    background: #2754ff;
    text-transform: capitalize;
    font-weight: 600;
    border-radius: 6px;
}

button.btnsubmit-otp {
  background: #2754ff;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 6px;
  width: auto;
  margin: auto;
  justify-content: center;
  display: table-footer-group;
  align-items: center;
}
  
  .form-center {
    display: flex;
    align-items: center;
    justify-content: center;
  
  
  }
  .back-to-top{
  position: fixed;
  width: 3.71428571em;
  height: 3.71428571em;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  right: 1.85714286em;
  bottom: 5rem;
  padding-top: 22px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
  z-index: 99;
  border: 1px solid #ececec;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  
  }
  .back-to-top i {
    color: #131313;
  }
  
  .back-to-top.active:hover {
    transform: translate3d(0, -5px, 0);
    -webkit-transform: translate3d(0, -5px, 0);
  }


  .mobileNumberContainer{
    display: flex;
    height: 3vw;
    column-gap: 1px;
  }

  .mobileNumberContainer .countryCode{
    width: 20%;
  }

  .btn{
    text-transform: none;
  }

    .mobileNumberContainer .countryCode div{
      width: 100%;
      height: 100%;
      font-size: 14px;
      font-weight: 600;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f4f1fa;
      border: 1px solid #c1c9d2;
    }

  .mobileNumberContainer .mobileNumber{
    width: 100%;
  }

  .mobileNumber input{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  @media screen and (max-width:900px){
    .mobileNumberContainer .countryCode, .mobileNumberContainer .mobileNumber{
      height: 35px;
    }
  }

  .mobileNumberContainer .mobileNumber input[type="text"]{
    width: 100%;
    height: 100%;
    outline: none;
  }

  .otpMessage{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .otpMessage p{
    margin-top: 10px;
  }

  .head-tag{
    font-weight: bold;
    padding-bottom: 15px;
    font-size: 20px;
  }
  .center2 .css-binzgt{
    margin-top: 0;
  }
  .center2 .css-binzgt h1 {
    font-weight: 600;
    font-size: 26px;
    color: #000;
    margin: 0;
    padding: 10px 0 30px;
}
.footer-second {
  text-align: center;
}

.footer-second p {
  font-size: 12px;
  font-weight: 400;
  color: #000;
  padding-bottom: 14px;
  margin: 0;
}
.footer-second button {
  background: #25d366!important;
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  box-shadow: none;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 30px;
  padding: 1px 15px;
  font-size: 13px;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 4px 0;
}
.center2 main.MuiContainer-root.MuiContainer-maxWidthXs.css-nzinn5-MuiContainer-root {
  padding: 0;
}
.footer-second {
  text-align: center;
  border-top: solid 1px #ccc;
  padding: 20px 0 30px;
}

.text-denger.textFont{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 15px;
}

#Otp1{
  height: 35px;
  border: 1px solid grey;
  border-radius: 6px;
}

.submitButtonContainer{
  position: relative;
  width: 100%;
  border: 1px solid red;
}

#Otp1{
  margin-left: -10%;
  width: 120%;
}

#download-desktop {
  border-color: #2754ff;
  border-radius: 6px;
  color: #2754ff;
  font-family: DM Sans,sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 9px 10px;
  text-transform: capitalize;
  width: 100%;
  margin: 5px 0 10px;
}

@media screen and (min-width:500px) and (max-width:800px){
  .textFont.otp.two{
    padding-top: 10px;
  }
}

@media screen and (max-width: 525px){
  .textFont.head{
    font-size: 20px;
  }
  .textFont{
    font-size: 15px;
  }
  .text-denger.textFont{
    margin-top: 12px;
  }
}

@media screen and (max-width: 500px){
  .textFont{
    font-size: 13px;
  }
  .textFont.otp.two{
    font-size: 13px !important;
    font-weight: normal;
  }
  button.btnsubmit{
    width: 280px;
    height: 30px;
  }
  button.btnsubmit-otp{
    width: 135px;
    height: 35px;
    margin: 0 50px;
  }
  .textFont.otp.two{
    margin-top: 25px;
    font-size: 15px;
  }
}

@media screen and (max-width: 430px){
  .textFont.head{
    font-size: 15px;
  }
  .textFont{
    font-size: 12px;
  }
  .textFont.otp.two{
    font-weight: normal;
  }
  button.btnsubmit{
    width: 280px;
    height: 30px;
  }
  .textFont.otp.two{
    font-size: 12px;
  }
}

@media screen and (max-width: 400px){
  .textFont{
    font-size: 8px;
  }
  .textFont.otp.two{
    font-size: 10px;
  }
}

@media screen and (min-width: 350px) and (max-width: 400px){
  .textFont.head{
    font-size: 13px;
  }
  .textFont.head.two{
    font-size: 18px;
  }
  .textFont.button{
    font-size: 11px;
    font-weight: 600;
  }
  button.btnsubmit{
    width: 250px;
    height: 30px;
  }
  .textFont.otp{
    font-size: 12px;
  }
  .text-denger.textFont{
    margin-top: 20px;
  }
  button.btnsubmit-otp{
    width: 115px;
    height: 35px;
    margin: 0 50px;
  }
  .textFont.otp.two{
    font-size: 12px !important;
  }
}

@media screen and (min-width: 300px) and (max-width: 350px){
  .textFont.head{
    font-size: 15px;
  }
  .textFont.otp{
    font-size: 10px;
  }
  .textFont.otp.two{
    padding-top: 10px;
  }
  .text-denger.textFont{
    margin-top: 20px;
  }
  button.btnsubmit{
    width: 225px;
    height: 30px;
  }
  .textFont.button{
    font-size: 11px;
    font-weight: 600;
  }
  .textFont.button.two{
    font-size: 12px;
    font-weight: bold;
  }
  button.btnsubmit-otp{
    width: 115px;
    height: 35px;
    margin: 0 50px;
  }
  .textFont.otp.two{
    font-size: 12px !important;
  }
}